<link rel="stylesheet" href="style.css">
<form action="javascript:search()">
  <input name="q" id="search" type="text" value="<%=search%>"/>
  <input type="submit" value="🔎">
</form>

<main id=main></main>

<script>
  
  let search = () => {
    let q = document.getElementById('search').value;
    fetch("/?q="+encodeURIComponent(q),{method:"POST"}).then(e=>e.text()).then(html=>document.getElementById("main").innerHTML=html)
  };

</script>
