@import url('https://unpkg.com/css.gg@2.0.0/icons/css/search.css');
 ::-webkit-scrollbar {
    background-color: #0000002e;
     color: #aba499;
}
 ::-webkit-scrollbar-corner {
    background-color: #181a1b3b;
}
 ::-webkit-scrollbar-thumb {
    background-color: #2e2e2edb;
}
 ::selection {
     background-color: #004daa !important;
     color: #e8e6e3 !important;
}
html{
  background-attachment: fixed;
}
 *{
     outline:none;
     font-family:Arial;
     font-size: medium;
     color: #d3d0ca;
}
 *:not(:hover) {
     text-decoration: none;
}
 body{
     margin:0;
     padding:5px;
     padding-left:50px;
     background-color: #181a1baa;
     overflow: overlay;
}
 input{
     height:100%;
     background:none;
     border:0;
     border-radius:0;
     padding-top:0;
     padding-bottom:0;
}
 input[type=text]{
     height: 100%;
     width: calc(100% - 55px);
     padding:0 5px;
}
 input[type=submit]{
     height: 100%;
     display: flex;
     align-items: center;
}
 form > label {
     display: flex;
     align-items: center;
}
 form{
     height: 30px;
     max-width: 700px;
     border:1px solid;
     border-radius:5px;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     background: #181a1baa;
}
main {
    display: flex;
}
 main > div{
    width: 50%;
    max-width: 700px;
    padding: 20px;
    padding-left: 0;
}
 main > div >div{
     border: 1px solid #9f9f9f;
     padding: 10px;
     border-radius: 5px;
     background: #ffffff11;
     margin-bottom: 20px;
}
 .extra {
     display: flex;
     flex-wrap: wrap;
     margin-left: 20px;
     justify-content: center;
}
 .extra > div {
     width: calc(50% - 20px);
     height: 121px;
     margin: 5px 0;
     margin-right: 10px;
     min-width: 200px;
}
 span {
     text-overflow: clip!important;
     color: #8b8b8b;
}
 h1,h2,h3,h4,h5,h6{
     margin:0;
}
 h6{
     font-size:x-small;
     display: contents;
     transform: translate(21px, -12.5px);
     position: absolute;
     display: flex;
}
 img{
     margin-right:7px;
}
